<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test 1</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="title center" style="color: teal;font-size: xx-large;font-weight: bold;">
            <p>CHEMICAL TEST</p>
        </div>
    </div>
    <div class="row s12">
        <div class="col s12">
            <ul class="tabs" id="testTab">
                <li class="tab col s4"><a class="active" href="#test1">Đề 1</a></li>
                <li class="tab col s4"><a href="#test2">Đề 2</a></li>
                <li class="tab col s4"><a href="#test3">Đề 3</a></li>
            </ul>
        </div>
        <div id="test1">
            <%- include("./test_number",{test: tests[0], index: 0}) %> 
        </div>
        <div id="test2">
            <%- include("./test_number",{test: tests[1], index: 1}) %> 
        </div>
        <div id="test3">
            <%- include("./test_number",{test: tests[2], index: 2}) %> 
        </div>
    </div>
    
    
    <script>
        M.Tabs.init(document.getElementById('testTab'));
        var tab = M.Tabs.getInstance(document.getElementById('testTab'));
        
        document.getElementById(`submitBtn0`).addEventListener("click",async (e)=>{
            e.preventDefault();
            var ansFormula = [];
            var ansChemical = [];
            for(let i=0;i<20;++i){
                if(document.getElementById(`0formula${i}`)!=null){
                    element = document.getElementById(`0formula${i}`)
                    element.disabled = true
                    ansFormula.push(JSON.stringify({
                        answer: element.value,
                        index:i
                    }))
                }
                if(document.getElementById(`0chemical${i}`)!=null){
                    element = document.getElementById(`0chemical${i}`)
                    element.disabled = true
                    ansChemical.push(JSON.stringify({
                        answer: element.value,
                        index:i
                    }))
                }
            }
            const comres = await fetch(`/chemicalTest/check?index=0`,{
                method:"POST",
                headers:{
                    "Accept":"application/x-www-form-urlencoded",
                    "Content-Type":"application/x-www-form-urlencoded"
                    },
                body: new URLSearchParams({
                    ansFormula:JSON.stringify(ansFormula), 
                    ansChemical: JSON.stringify(ansChemical),
                    })
            })
            const content = await comres.json();

            document.getElementById('score').innerHTML=`Score: ${content.score}`;
            console.log(content);
            JSON.parse(content.wrongFormula).forEach(wrongString => {
                wrong = JSON.parse(wrongString)
                element = document.getElementById(`0formula${wrong.index}`);
                element.style.color = 'crimson';
                element.value = `${element.value}=>${wrong.truth}`;
            });
            JSON.parse(content.wrongChemical).forEach(wrongString => {
                wrong = JSON.parse(wrongString)
                element = document.getElementById(`0chemical${wrong.index}`);
                element.style.color = 'crimson';
                element.value = `${element.value}=>${wrong.truth}`;
            });
        })
        
        document.getElementById(`submitBtn1`).addEventListener("click",async (e)=>{
            e.preventDefault();
            var ansFormula = [];
            var ansChemical = [];
            for(let i=0;i<20;++i){
                if(document.getElementById(`1formula${i}`)!=null){
                    element = document.getElementById(`1formula${i}`)
                    element.disabled = true
                    ansFormula.push(JSON.stringify({
                        answer: element.value,
                        index:i
                    }))
                }
                if(document.getElementById(`1chemical${i}`)!=null){
                    element = document.getElementById(`1chemical${i}`)
                    element.disabled = true
                    ansChemical.push(JSON.stringify({
                        answer: element.value,
                        index:i
                    }))
                }
            }
            const comres = await fetch(`/chemicalTest/check?index=1`,{
                method:"POST",
                headers:{
                    "Accept":"application/x-www-form-urlencoded",
                    "Content-Type":"application/x-www-form-urlencoded"
                    },
                body: new URLSearchParams({
                    ansFormula:JSON.stringify(ansFormula), 
                    ansChemical: JSON.stringify(ansChemical),
                    })
            })
            const content = await comres.json();

            document.getElementById('score').innerHTML=`Score: ${content.score}`;
            console.log(content);
            JSON.parse(content.wrongFormula).forEach(wrongString => {
                wrong = JSON.parse(wrongString)
                element = document.getElementById(`1formula${wrong.index}`);
                element.style.color = 'crimson';
                element.value = `${element.value}=>${wrong.truth}`;
            });
            JSON.parse(content.wrongChemical).forEach(wrongString => {
                wrong = JSON.parse(wrongString)
                element = document.getElementById(`1chemical${wrong.index}`);
                element.style.color = 'crimson';
                element.value = `${element.value}=>${wrong.truth}`;
            });
        })

        document.getElementById(`submitBtn2`).addEventListener("click",async (e)=>{
            e.preventDefault();
            var ansFormula = [];
            var ansChemical = [];
            for(let i=0;i<20;++i){
                if(document.getElementById(`2formula${i}`)!=null){
                    element = document.getElementById(`2formula${i}`)
                    element.disabled = true
                    ansFormula.push(JSON.stringify({
                        answer: element.value,
                        index:i
                    }))
                }
                if(document.getElementById(`2chemical${i}`)!=null){
                    element = document.getElementById(`2chemical${i}`)
                    element.disabled = true
                    ansChemical.push(JSON.stringify({
                        answer: element.value,
                        index:i
                    }))
                }
            }
            const comres = await fetch(`/chemicalTest/check?index=2`,{
                method:"POST",
                headers:{
                    "Accept":"application/x-www-form-urlencoded",
                    "Content-Type":"application/x-www-form-urlencoded"
                    },
                body: new URLSearchParams({
                    ansFormula:JSON.stringify(ansFormula), 
                    ansChemical: JSON.stringify(ansChemical),
                    })
            })
            const content = await comres.json();

            document.getElementById('score').innerHTML=`Score: ${content.score}`;
            console.log(content);
            JSON.parse(content.wrongFormula).forEach(wrongString => {
                wrong = JSON.parse(wrongString)
                element = document.getElementById(`2formula${wrong.index}`);
                element.style.color = 'crimson';
                element.value = `${element.value}=>${wrong.truth}`;
            });
            JSON.parse(content.wrongChemical).forEach(wrongString => {
                wrong = JSON.parse(wrongString)
                element = document.getElementById(`2chemical${wrong.index}`);
                element.style.color = 'crimson';
                element.value = `${element.value}=>${wrong.truth}`;
            });
        })
        
    </script>
</body>
</html>